flows.json
[
    {
        "id": "003c4fb1a3e749fb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98716454f0fdc5a0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "c485642c20678668",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "82fac8889988b2c9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f779dd92.cf698",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "44d9222c.07961c",
        "type": "ui_group",
        "name": "Charts",
        "tab": "f779dd92.cf698",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "afe97566.fbda58",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "f779dd92.cf698",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "ef33233b.dd28f",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "f779dd92.cf698",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "907bbe60.b555f",
        "type": "ui_tab",
        "name": "Wifi",
        "icon": "wifi",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4d0f060d.dee7e8",
        "type": "ui_group",
        "name": "Update",
        "tab": "907bbe60.b555f",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a1e7431b.229d5",
        "type": "ui_group",
        "name": "Settings",
        "tab": "907bbe60.b555f",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5ae8613757b62f89",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a70602e73bbb2a95",
        "type": "ui-theme",
        "name": "Admin Theme",
        "colors": {
            "surface": "#454545",
            "primary": "#d47e1c",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "cb568b163406e608",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#0094ce",
            "primary": "#0094ce",
            "bgPage": "#111111",
            "groupBg": "#333333",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "585b6e322b26eb05",
        "type": "MySQLdatabase",
        "name": "DB_Config",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "database",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "10d13804a865aef3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.222.150",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b74351a14a45c853",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "ab0e4f07899cf5e9",
        "type": "mqtt-broker",
        "name": "HiveMq",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Public Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ui_tab1",
        "type": "ui_tab",
        "name": "Calidad del Aire",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_aqi",
        "type": "ui_group",
        "name": "Índices AQI y PM2.5",
        "tab": "ui_tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_group_co2",
        "type": "ui_group",
        "name": "Niveles de CO2",
        "tab": "ui_tab1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_estado",
        "type": "ui_group",
        "name": "Estado del Sistema",
        "tab": "ui_tab1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt_broker_v2",
        "type": "mqtt-broker",
        "name": "HiveMQ Public Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "db2_theme",
        "type": "ui-theme",
        "name": "Tema Claro",
        "colors": {
            "surface": "#ffffff",
            "primary": "#1f77b4",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "tab_transporte",
        "type": "ui_tab",
        "name": "Monitoreo de Buses",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "group_ruta",
        "type": "ui_group",
        "name": "Ruta Machala - El Cambio",
        "tab": "tab_transporte",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c4e149987f2c4460",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "7d79bd181080791d",
        "type": "ui_group",
        "name": "Charts",
        "tab": "c4e149987f2c4460",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "096989a2a209f3f7",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "c4e149987f2c4460",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "d3b89a1149a1cdf3",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "c4e149987f2c4460",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "18347517921f8380",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "489521b43020191e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "24e6f0ecc9ebe98a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker:localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4d17e6b6b97423a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a5e5a0eb1c3a7cc0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui-page-smarttransit",
        "type": "ui-page",
        "name": "Monitoreo de Buses",
        "ui": "98716454f0fdc5a0",
        "path": "/monitoreo",
        "icon": "bus",
        "layout": "grid",
        "theme": "c485642c20678668",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui-group-mapa",
        "type": "ui-group",
        "name": "Mapa de la Ruta (Machala - Santa Rosa)",
        "page": "ui-page-smarttransit",
        "width": "8",
        "height": "10",
        "order": 1,
        "className": ""
    },
    {
        "id": "ui-group-info",
        "type": "ui-group",
        "name": "Estado del Transporte en Tiempo Real",
        "page": "ui-page-smarttransit",
        "width": "4",
        "height": "6",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e277889d5ca931e3",
        "type": "ui-group",
        "name": "Configuración de Viaje",
        "page": "ui-page-smarttransit",
        "width": "4",
        "height": "4",
        "order": 3,
        "className": ""
    },
    {
        "id": "b05f305bab8d74d5",
        "type": "inject",
        "z": "003c4fb1a3e749fb",
        "name": "Disparador (Cada 3s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "d7d3c62bca1474a9"
            ]
        ]
    },
    {
        "id": "d7d3c62bca1474a9",
        "type": "function",
        "z": "003c4fb1a3e749fb",
        "name": "Simulador de 5 salidas",
        "func": "if (context.get('index') === undefined) {\n    context.set('index', 0);\n}\n\nconst ruta = [\n    { lat: -3.2581, lon: -79.9553, stop: \"Terminal Terrestre de Machala\" },\n    { lat: -3.2845, lon: -79.9612, stop: \"Control de Entrada - El Cambio\" },\n    { lat: -3.3210, lon: -79.9645, stop: \"Vía Panamericana - Km 10\" },\n    { lat: -3.3650, lon: -79.9680, stop: \"Peaje El Guabo / Bifurcación\" },\n    { lat: -3.4120, lon: -79.9650, stop: \"Entrada a Santa Rosa\" },\n    { lat: -3.4480, lon: -79.9610, stop: \"Av. Joffre Lima\" },\n    { lat: -3.4578, lon: -79.9654, stop: \"Terminal Terrestre de Santa Rosa\" }\n];\n\nlet idx = context.get('index');\nlet puntoActual = ruta[idx];\n\nlet segmentosRestantes = (ruta.length - 1) - idx;\nlet etaMinutos = segmentosRestantes * 4;\nlet etaStr = etaMinutos === 0 ? \"Ha llegado a su destino\" : etaMinutos + \" min\";\nlet velocidadSimulada = etaMinutos === 0 ? 0 : Math.floor(Math.random() * (65 - 42 + 1)) + 42;\n\nlet payloadObj = {\n    busId: \"COOP-ORO-04\",\n    lat: puntoActual.lat,\n    lon: puntoActual.lon,\n    velocidad: velocidadSimulada + \" km/h\",\n    eta: etaStr,\n    proximaParada: idx === ruta.length - 1 ? \"Fin del trayecto\" : ruta[idx + 1].stop,\n    paradaActual: puntoActual.stop\n};\n\nidx = (idx + 1) % ruta.length;\ncontext.set('index', idx);\n\n// Retornar 5 mensajes separados para cada nodo, así evitamos [object Object]\nreturn [\n    { payload: payloadObj },\n    { payload: payloadObj.busId },\n    { payload: payloadObj.eta },\n    { payload: payloadObj.velocidad },\n    { payload: payloadObj.proximaParada }\n];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "8198530f7faf0933"
            ],
            [
                "e5edc4539f15b534"
            ],
            [
                "7b9a9222c4e1df41"
            ],
            [
                "baf14e9d745a4c34"
            ],
            [
                "48d003f68846d537"
            ]
        ]
    },
    {
        "id": "e5edc4539f15b534",
        "type": "ui-text",
        "z": "003c4fb1a3e749fb",
        "group": "ui-group-info",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "🚌 Unidad Monitoreada:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "7b9a9222c4e1df41",
        "type": "ui-text",
        "z": "003c4fb1a3e749fb",
        "group": "ui-group-info",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "⏱️ ETA:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "baf14e9d745a4c34",
        "type": "ui-text",
        "z": "003c4fb1a3e749fb",
        "group": "ui-group-info",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "⚡ Velocidad:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "48d003f68846d537",
        "type": "ui-text",
        "z": "003c4fb1a3e749fb",
        "group": "ui-group-info",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "📍 Próxima Parada:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "698138607b1795cf",
        "type": "ui-dropdown",
        "z": "003c4fb1a3e749fb",
        "group": "e277889d5ca931e3",
        "name": "Select Origen",
        "label": "🟢 Punto de Inicio",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "clearable": false,
        "options": [
            {
                "label": "Terminal Machala",
                "value": 0,
                "type": "num"
            },
            {
                "label": "El Cambio",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Km 10 Panamericana",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Peaje El Guabo",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Entrada Santa Rosa",
                "value": 4,
                "type": "num"
            },
            {
                "label": "Av Joffre Lima",
                "value": 5,
                "type": "num"
            },
            {
                "label": "Terminal Santa Rosa",
                "value": 6,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "4e7d0608f96a06a6"
            ]
        ]
    },
    {
        "id": "e53a881352b7fefb",
        "type": "ui-dropdown",
        "z": "003c4fb1a3e749fb",
        "group": "e277889d5ca931e3",
        "name": "Select Destino",
        "label": "🔴 Punto de Destino",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "clearable": false,
        "options": [
            {
                "label": "Terminal Machala",
                "value": 0,
                "type": "num"
            },
            {
                "label": "El Cambio",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Km 10 Panamericana",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Peaje El Guabo",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Entrada Santa Rosa",
                "value": 4,
                "type": "num"
            },
            {
                "label": "Av Joffre Lima",
                "value": 5,
                "type": "num"
            },
            {
                "label": "Terminal Santa Rosa",
                "value": 6,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "7cd674143a8b705e"
            ]
        ]
    },
    {
        "id": "4e7d0608f96a06a6",
        "type": "change",
        "z": "003c4fb1a3e749fb",
        "name": "Guardar Origen",
        "rules": [
            {
                "t": "set",
                "p": "origenIdx",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7cd674143a8b705e",
        "type": "change",
        "z": "003c4fb1a3e749fb",
        "name": "Guardar Destino",
        "rules": [
            {
                "t": "set",
                "p": "destinoIdx",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8198530f7faf0933",
        "type": "ui-template",
        "z": "003c4fb1a3e749fb",
        "group": "ui-group-mapa",
        "page": "",
        "ui": "",
        "name": "Mapa Vue Ref",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<template>\n    <div style=\"padding: 10px;\">\n        <div ref=\"mapaTransit\" style=\"height: 480px; width: 100%; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); z-index: 1;\"></div>\n    </div>\n</template>\n\n<script>\nexport default {\n    data() {\n        return {\n            // Solo datos simples aquí, NUNCA objetos complejos como mapas de Leaflet\n            rutaFija: [\n                [-3.2581, -79.9553], [-3.2845, -79.9612], [-3.3210, -79.9645],\n                [-3.3650, -79.9680], [-3.4120, -79.9650], [-3.4480, -79.9610],\n                [-3.4578, -79.9654]\n            ]\n        }\n    },\n    mounted() {\n        // Variables NO reactivas (para que Vue 3 no rompa Leaflet)\n        this.mapaLeaflet = null;\n        this.marcadorBus = null;\n\n        // Inyectar CSS dinámico\n        if (!document.getElementById('leaflet-css-transit')) {\n            const link = document.createElement('link');\n            link.id = 'leaflet-css-transit';\n            link.rel = 'stylesheet';\n            link.href = 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.css';\n            document.head.appendChild(link);\n        }\n\n        // Inyectar JS dinámico con retraso de seguridad\n        if (typeof window.L === 'undefined') {\n            const script = document.createElement('script');\n            script.id = 'leaflet-js-transit';\n            script.src = 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.js';\n            script.onload = () => { \n                setTimeout(() => this.iniciarMapa(), 150); \n            };\n            document.head.appendChild(script);\n        } else {\n            setTimeout(() => this.iniciarMapa(), 150);\n        }\n    },\n    methods: {\n        iniciarMapa() {\n            // Prevenir doble inicialización\n            if (!this.$refs.mapaTransit || this.mapaLeaflet) return;\n\n            // Inicializar mapa centrado en la ruta\n            this.mapaLeaflet = window.L.map(this.$refs.mapaTransit).setView([-3.35, -79.96], 11);\n\n            window.L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {\n                attribution: '© OpenStreetMap'\n            }).addTo(this.mapaLeaflet);\n\n            window.L.polyline(this.rutaFija, { \n                color: '#2B6CB0', weight: 4, dashArray: '5, 10' \n            }).addTo(this.mapaLeaflet);\n\n            this.marcadorBus = window.L.marker([-3.2581, -79.9553]).addTo(this.mapaLeaflet);\n            this.marcadorBus.bindPopup(\"Esperando señal GPS...\").openPopup();\n\n            // Forzar reajuste de tamaño por si el contenedor cambió\n            setTimeout(() => { this.mapaLeaflet.invalidateSize(); }, 300);\n        }\n    },\n    watch: {\n        msg: {\n            handler(newMsg) {\n                if (newMsg && newMsg.payload && this.mapaLeaflet && this.marcadorBus) {\n                    const data = newMsg.payload;\n                    // Confirmar que llega el objeto completo de coordenadas\n                    if (typeof data === 'object' && data.lat && data.lon) {\n                        const pos = [data.lat, data.lon];\n                        this.marcadorBus.setLatLng(pos);\n                        this.mapaLeaflet.panTo(pos);\n                        \n                        const popup = `\n                            <div style=\"font-family: sans-serif; font-size: 13px;\">\n                                <strong style=\"color:#2B6CB0;\">Unidad: ${data.busId}</strong><br>\n                                <b>Velocidad:</b> ${data.velocidad}<br>\n                                <b style=\"color:#E53E3E;\">ETA: ${data.eta}</b>\n                            </div>`;\n                        this.marcadorBus.bindPopup(popup).openPopup();\n                    }\n                }\n            },\n            deep: true\n        }\n    },\n    unmounted() {\n        // Limpiar la memoria si el usuario cambia de página en el dashboard\n        if (this.mapaLeaflet) {\n            this.mapaLeaflet.remove();\n            this.mapaLeaflet = null;\n        }\n    }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "init-rutas",
        "type": "inject",
        "z": "003c4fb1a3e749fb",
        "name": "Cargar Coordenadas y Buses",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 770,
        "y": 500,
        "wires": [
            [
                "set-globals-sr"
            ]
        ]
    },
    {
        "id": "set-globals-sr",
        "type": "function",
        "z": "003c4fb1a3e749fb",
        "name": "Definir Variables Globales",
        "func": "const paradas = [\n    { id: \"term\", nombre: \"Terminal Terrestre Binacional\", lat: -3.4611, lon: -79.9680 },\n    { id: \"parq\", nombre: \"Parque Sucre (Centro)\", lat: -3.4522, lon: -79.9616 },\n    { id: \"hosp\", nombre: \"Hospital Santa Teresita\", lat: -3.4540, lon: -79.9570 },\n    { id: \"merc\", nombre: \"Mercado Central\", lat: -3.4505, lon: -79.9600 },\n    { id: \"muni\", nombre: \"Municipio de Santa Rosa\", lat: -3.4518, lon: -79.9612 },\n    { id: \"cole\", nombre: \"Colegio Zoila Ugarte\", lat: -3.4560, lon: -79.9645 },\n    { id: \"bomb\", nombre: \"Cuerpo de Bomberos\", lat: -3.4485, lon: -79.9585 },\n    { id: \"aero\", nombre: \"Aeropuerto Regional\", lat: -3.4380, lon: -79.9750 }\n];\n\nglobal.set(\"paradas\", paradas);\nglobal.set(\"destinoActual\", \"term\"); // Destino por defecto al arrancar\n\n// Posiciones iniciales esparcidas en Santa Rosa\nconst buses = [\n    { id: \"B1\", name: \"COOP-ORO-01\", lat: -3.4380, lon: -79.9750, speed: 45 },\n    { id: \"B2\", name: \"COOP-ORO-02\", lat: -3.4505, lon: -79.9600, speed: 50 }\n];\nglobal.set(\"buses\", buses);\nreturn msg;",
        "outputs": 1,
        "x": 1070,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "dd-destino",
        "type": "ui-dropdown",
        "z": "003c4fb1a3e749fb",
        "group": "ui-group-mapa",
        "name": "Dropdown Destinos",
        "label": "📍 Seleccionar Parada Destino",
        "order": "",
        "width": "",
        "height": "",
        "passthru": true,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Terminal Terrestre Binacional",
                "value": "term",
                "type": "str"
            },
            {
                "label": "Parque Sucre (Centro)",
                "value": "parq",
                "type": "str"
            },
            {
                "label": "Hospital Santa Teresita",
                "value": "hosp",
                "type": "str"
            },
            {
                "label": "Mercado Central",
                "value": "merc",
                "type": "str"
            },
            {
                "label": "Municipio de Santa Rosa",
                "value": "muni",
                "type": "str"
            },
            {
                "label": "Colegio Zoila Ugarte",
                "value": "cole",
                "type": "str"
            },
            {
                "label": "Cuerpo de Bomberos",
                "value": "bomb",
                "type": "str"
            },
            {
                "label": "Aeropuerto Regional",
                "value": "aero",
                "type": "str"
            }
        ],
        "topic": "",
        "topicType": "str",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 970,
        "y": 660,
        "wires": [
            [
                "save-destino"
            ]
        ]
    },
    {
        "id": "save-destino",
        "type": "change",
        "z": "003c4fb1a3e749fb",
        "name": "Guardar en Global",
        "rules": [
            {
                "t": "set",
                "p": "destinoActual",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 1210,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "sim-loop",
        "type": "inject",
        "z": "003c4fb1a3e749fb",
        "name": "Trigger GPS (2s)",
        "repeat": "2",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "simulador-dirigido"
            ]
        ]
    },
    {
        "id": "simulador-dirigido",
        "type": "function",
        "z": "003c4fb1a3e749fb",
        "name": "Simulador (Movimiento hacia Destino)",
        "func": "let buses = global.get(\"buses\");\nlet destinoId = global.get(\"destinoActual\");\nlet paradas = global.get(\"paradas\");\n\nif (!buses || !paradas) return null;\nlet destino = paradas.find(p => p.id === destinoId);\nif (!destino) return null;\n\n// Matemáticas vectoriales para apuntar la dirección hacia el destino elegido\nbuses.forEach(bus => {\n    let dLat = destino.lat - bus.lat;\n    let dLon = destino.lon - bus.lon;\n    let dist = Math.sqrt(dLat*dLat + dLon*dLon);\n    \n    // Si el bus está a más de 50 metros del objetivo, avanza. \n    // Si llegó, se detiene automáticamente en la parada.\n    if (dist > 0.0005) {\n        let ratio = 0.0005 / dist; // Velocidad de simulación por ciclo\n        bus.lat += dLat * ratio;\n        bus.lon += dLon * ratio;\n    }\n});\nglobal.set(\"buses\", buses);\n\n// Retornar mensajes empaquetados para el nodo worldmap\nlet cmds = buses.map(bus => ({\n    payload: {\n        name: bus.name,\n        lat: bus.lat,\n        lon: bus.lon,\n        icon: \"bus\",\n        iconColor: \"blue\",\n        layer: \"Buses\"\n    }\n}));\nreturn [cmds];",
        "outputs": 1,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "calc-eta"
            ]
        ]
    },
    {
        "id": "calc-eta",
        "type": "function",
        "z": "003c4fb1a3e749fb",
        "name": "Recálculo de ETA y Trazado de Rutas",
        "func": "let buses = global.get(\"buses\");\nlet destinoId = global.get(\"destinoActual\");\nlet paradas = global.get(\"paradas\");\n\nif (!buses || !paradas) return null;\nlet destino = paradas.find(p => p.id === destinoId);\n\n// Algoritmo Haversine\nfunction haversine(lat1, lon1, lat2, lon2) {\n    const R = 6371;\n    const dLat = (lat2 - lat1) * Math.PI / 180;\n    const dLon = (lon2 - lon1) * Math.PI / 180;\n    const a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n              Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *\n              Math.sin(dLon/2) * Math.sin(dLon/2);\n    return R * (2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)));\n}\n\nlet tablaETA = [];\nlet lineasMapa = [];\n\nbuses.forEach(bus => {\n    let distKm = haversine(bus.lat, bus.lon, destino.lat, destino.lon);\n    let timeHours = distKm / bus.speed;\n    let etaMin = Math.round(timeHours * 60);\n    \n    // Preparar objeto para el ui-table de Dashboard 2.0\n    tablaETA.push({\n        Unidad: bus.name,\n        Distancia: distKm.toFixed(2) + \" km\",\n        ETA: (etaMin === 0) ? \"Llegando\" : etaMin + \" min\",\n        Destino: destino.nombre\n    });\n\n    // Preparar objeto para dibujar la línea predictiva en worldmap\n    lineasMapa.push({\n        payload: {\n            name: \"Ruta-\" + bus.name,\n            line: [ [bus.lat, bus.lon], [destino.lat, destino.lon] ],\n            color: \"#E53E3E\",\n            weight: 3,\n            layer: \"Rutas Predictivas\"\n        }\n    });\n});\n\nglobal.set(\"busesConETA\", tablaETA);\n\n// Salida 1: Matriz para el ui-table | Salida 2: Comandos de línea para worldmap\nreturn [{ payload: tablaETA }, lineasMapa];",
        "outputs": 2,
        "x": 790,
        "y": 600,
        "wires": [
            [],
            []
        ]
    }
]